{% extends "layout.jinja2" %}

{% block content %}
<div id="app"><h2>Loading...</h2><p>This is a Javascript application, you'll need that going for you</p></div>
<script type="text/javascript" src="/static/knowledge-base/app.min.js"></script>
{% endblock %}
